
/*Android*/
@media  screen and (max-width: 480px) {
    


body{
    background-color: rgba(0, 0, 0, 0.979);
     margin: 4%;
}

h1{
    color: white;
    text-align: center;
    margin-left: 6%;
margin-right: 6%;
font-size: 16px;





}


/*Informacion*/
.informacion{
    color: white;
 margin-bottom: 45%;
    


}






/*Todo*/
.Todo{
    text-align: center;
}

.ob1{
    color: aqua;
    
    border: 2px solid white;
        padding: 10%;
margin-right: 4%;
    font-size: 20px;
    border-radius: 5%;
}
.ob2{
    color: aqua;
    
    border: 2px solid white;
        padding: 10%;
margin-right: 4%;
    font-size: 20px;
    border-radius: 5%;
}
.ob3 {
    color: aqua;
    margin-top: 5%;
    border: 2px solid white;
        padding: 10%;
margin-right: 4%;
    font-size: 20px;
    border-radius: 5%;
}

.ob4{
    color: aqua;
    margin-top:5%;
    border: 2px solid white;
        padding: 10%;
margin-right: 4%;
    font-size: 20px;
    border-radius: 5%;
}   }



/*Tablets*/




@media  screen and (min-width: 481px) and (max-width: 1271px) {
    


    body{
        background-color: rgba(0, 0, 0, 0.979);
         margin: 4%;
    }
    
    h1{
        color: white;
        text-align: center;
        margin-left: 6%;
    margin-right: 6%;
    font-size: 16px;
    
    
    
    
    
    }
    
    
    /*Informacion*/
    .informacion{
        color: white;
     margin-bottom: 45%;
        
    
    
    }
    
    
    
    
    
    
    /*Todo*/
    .Todo{
        text-align: center;
    }
    
    .ob1{
        color: aqua;
        
        border: 2px solid white;
            padding: 10%;
    margin-right: 4%;
        font-size: 20px;
        border-radius: 5%;
    }
    .ob2{
        color: aqua;
        
        border: 2px solid white;
            padding: 10%;
    margin-right: 4%;
        font-size: 20px;
        border-radius: 5%;
    }
    .ob3 {
        color: aqua;
        margin-top: 5%;
        border: 2px solid white;
            padding: 10%;
    margin-right: 4%;
        font-size: 20px;
        border-radius: 5%;
    }
    
    .ob4{
        color: aqua;
        margin-top:5%;
        border: 2px solid white;
            padding: 10%;
    margin-right: 4%;
        font-size: 20px;
        border-radius: 5%;
    }   }
    

    /*PC*/

    @media  screen and (min-width: 1272px) {
    


        body{
            background-color: rgba(0, 0, 0, 0.979);
             margin: 4%;
        }
        
        h1{
            color: white;
            text-align: center;
            margin-left: 6%;
        margin-right: 6%;
        font-size: 30px;
        
        
        
        
        
        }
        
        
        /*Informacion*/
        .informacion{
            color: white;
         margin-bottom: 45%;
            
        
        
        }
        
        
        
        
        
        
        /*Todo*/
        .Todo{
            text-align: center;
        }
        
        .ob1{
            color: aqua;
            
            border: 2px solid white;
                padding: 10%;
        margin-right: 4%;
            font-size: 20px;
            border-radius: 5%;
        
        }
        .ob2{
            color: aqua;
            
            border: 2px solid white;
                padding: 10%;
        margin-right: 4%;
            font-size: 20px;
            border-radius: 5%;
        }
        .ob3 {
            color: aqua;
            margin-top: 5%;
            border: 2px solid white;
                padding: 10%;
        margin-right: 4%;
            font-size: 20px;
            border-radius: 5%;
        }
        
        .ob4{
            color: aqua;
            margin-top:5%;
            border: 2px solid white;
                padding: 10%;
        margin-right: 4%;
            font-size: 20px;
            border-radius: 5%;
        }   }
    